html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;
}

/* nav section */
.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.nav-items > li {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;
  background-color: #21222a;
}

.logo {
  width: 40px;
  padding-right: 5px;
}

.title {
  color: aqua;
  font-size: 20px;
}

.titleArea {
  display: flex;
  align-items: center;
}

.desc {
  font-size: 16px;
}

/* main section */
.main {
  padding: 20;
  background-color: #282d35;
  height: calc(70vh);
}

.mainList {
  max-width: 400px;
}

.mainList > li {
  padding-block: 5px;
  line-height: 20px;
}

.mainList > li::marker {
  color: aqua;
  font-size: 1.3rem;
}

.count-btn {
  background-color: transparent;
  border: none;
}

.logo-bg {
  width: 260px;
  position: absolute;
  top: 30%;
  right: -130px;
  filter: grayscale() opacity(10%);
}

/* footer section */
.footer {
  padding: 20;
  background-color: #313641;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15;
    height: 95px;
  }
}

